USE [master]
GO
/****** Object:  Database [PUB_db]    Script Date: 09/06/2026 10:40:50 pm ******/
CREATE DATABASE [PUB_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PUB_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PUB_db.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PUB_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PUB_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PUB_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PUB_db]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09/06/2026 10:40:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Audit_Log]    Script Date: 09/06/2026 10:40:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_Log](
	[Log_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Action] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[Terminal] [varchar](50) NULL,
	[Timestamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Log_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 09/06/2026 10:40:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Branch_ID] [int] IDENTITY(1,1) NOT NULL,
	[Branch_Name] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[Is_Active] [bit] NOT NULL,
	[Is_Archived] [bit] NOT NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY CLUSTERED 
(
	[Branch_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bus]    Script Date: 09/06/2026 10:40:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus](
	[Bus_ID] [varchar](10) NOT NULL,
	[Plate_Number] [varchar](10) NOT NULL,
	[Body_Bus_Number] [varchar](20) NOT NULL,
	[Bus_Name] [varchar](50) NULL,
	[Bus_Condition] [varchar](20) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Created_At] [datetime] NOT NULL,
	[Bus_Type] [nvarchar](10) NULL,
	[IsArchived] [bit] NOT NULL,
	[Branch_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Bus_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Plate_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 09/06/2026 10:40:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Employee_ID] [varchar](15) NOT NULL,
	[Full_Name] [varchar](100) NOT NULL,
	[Contact_Number] [varchar](15) NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[Address] [varchar](255) NULL,
	[Job_Position] [varchar](30) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Hire_Date] [date] NOT NULL,
	[Is_Active] [bit] NOT NULL,
	[Branch] [varchar](50) NULL,
	[Branch_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 09/06/2026 10:40:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Payment_ID] [varchar](15) NOT NULL,
	[Reservation_ID] [varchar](15) NOT NULL,
	[Amount] [decimal](9, 2) NOT NULL,
	[Payment_Method] [varchar](10) NOT NULL,
	[Payment_Status] [varchar](15) NOT NULL,
	[Reference_Number] [varchar](50) NULL,
	[Payment_Date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 09/06/2026 10:40:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[Reservation_ID] [varchar](15) NOT NULL,
	[Trip_ID] [varchar](12) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Group_ID] [varchar](15) NULL,
	[Is_Group_Booking] [bit] NOT NULL,
	[Contact_Person] [varchar](100) NULL,
	[Passenger_Name] [varchar](100) NOT NULL,
	[Contact_Number] [nvarchar](30) NULL,
	[Passenger_Type] [nvarchar](40) NOT NULL,
	[Discount_Percentage] [decimal](5, 2) NOT NULL,
	[ID_Number] [nvarchar](100) NULL,
	[Reservation_Date] [datetime] NOT NULL,
	[Seat_Number] [int] NOT NULL,
	[Number_of_Seats] [int] NOT NULL,
	[Base_Fare] [decimal](9, 2) NOT NULL,
	[Discount_Applied] [decimal](9, 2) NOT NULL,
	[Total_Amount] [decimal](9, 2) NOT NULL,
	[Status] [varchar](15) NOT NULL,
	[Created_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Reservation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 09/06/2026 10:40:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[Route_ID] [varchar](15) NOT NULL,
	[Origin] [nvarchar](200) NOT NULL,
	[Destination] [nvarchar](200) NOT NULL,
	[Base_Fare] [decimal](9, 2) NOT NULL,
	[Distance_KM] [decimal](7, 2) NULL,
	[Estimated_Hours] [decimal](5, 2) NULL,
	[Is_Active] [bit] NOT NULL,
	[Created_At] [datetime] NULL,
	[Updated_At] [datetime] NULL,
	[Is_Archived] [bit] NOT NULL,
	[Branch_ID] [int] NULL,
	[Origin_Branch_ID] [int] NULL,
	[Destination_Branch_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Route_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trip]    Script Date: 09/06/2026 10:40:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trip](
	[Trip_ID] [varchar](12) NOT NULL,
	[Bus_ID] [varchar](10) NOT NULL,
	[Employee_ID_Driver] [varchar](15) NOT NULL,
	[Employee_ID_Conductor] [varchar](15) NULL,
	[Origin] [varchar](100) NOT NULL,
	[Destination] [varchar](100) NOT NULL,
	[Base_Fare] [decimal](9, 2) NOT NULL,
	[Departure_Time] [datetime] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Scheduled_Departure_Time] [datetime] NULL,
	[Arrival_Time] [datetime] NULL,
	[Cancelled_Time] [datetime] NULL,
	[Created_At] [datetime] NOT NULL,
	[Actual_Dispatch_Time] [datetime] NULL,
	[Route_ID] [nvarchar](15) NULL,
	[Branch_ID] [int] NULL,
	[Destination_Branch_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Trip_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/06/2026 10:40:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Employee_ID] [varchar](15) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password_Hash] [varchar](255) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[Is_Active] [bit] NOT NULL,
	[Last_Login] [datetime] NULL,
	[Login_Attempts] [int] NOT NULL,
	[Account_Locked] [bit] NOT NULL,
	[Locked_At] [datetime] NULL,
	[Created_At] [datetime] NOT NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Audit_Log] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Branches] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[Branches] ADD  DEFAULT ((0)) FOR [Is_Archived]
GO
ALTER TABLE [dbo].[Bus] ADD  DEFAULT ('Road Worthy') FOR [Bus_Condition]
GO
ALTER TABLE [dbo].[Bus] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Bus] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Bus] ADD  DEFAULT ((0)) FOR [IsArchived]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('Cash') FOR [Payment_Method]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('Completed') FOR [Payment_Status]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [Payment_Date]
GO
ALTER TABLE [dbo].[Reservation] ADD  DEFAULT ((0)) FOR [Is_Group_Booking]
GO
ALTER TABLE [dbo].[Reservation] ADD  DEFAULT ('Regular') FOR [Passenger_Type]
GO
ALTER TABLE [dbo].[Reservation] ADD  DEFAULT ((0)) FOR [Discount_Percentage]
GO
ALTER TABLE [dbo].[Reservation] ADD  DEFAULT ((1)) FOR [Number_of_Seats]
GO
ALTER TABLE [dbo].[Reservation] ADD  DEFAULT ((0)) FOR [Discount_Applied]
GO
ALTER TABLE [dbo].[Reservation] ADD  DEFAULT ('Confirmed') FOR [Status]
GO
ALTER TABLE [dbo].[Reservation] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Routes] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[Routes] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Routes] ADD  DEFAULT ((0)) FOR [Is_Archived]
GO
ALTER TABLE [dbo].[Trip] ADD  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[Trip] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Login_Attempts]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Account_Locked]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Audit_Log]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Audit_Log] CHECK CONSTRAINT [FK_AuditLog_User]
GO
ALTER TABLE [dbo].[Bus]  WITH CHECK ADD  CONSTRAINT [FK_Buses_Branches] FOREIGN KEY([Branch_ID])
REFERENCES [dbo].[Branches] ([Branch_ID])
GO
ALTER TABLE [dbo].[Bus] CHECK CONSTRAINT [FK_Buses_Branches]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Branches] FOREIGN KEY([Branch_ID])
REFERENCES [dbo].[Branches] ([Branch_ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employees_Branches]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Reservation] FOREIGN KEY([Reservation_ID])
REFERENCES [dbo].[Reservation] ([Reservation_ID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Reservation]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Trip] FOREIGN KEY([Trip_ID])
REFERENCES [dbo].[Trip] ([Trip_ID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Trip]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_User]
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD  CONSTRAINT [FK_Route_Branch] FOREIGN KEY([Branch_ID])
REFERENCES [dbo].[Branches] ([Branch_ID])
GO
ALTER TABLE [dbo].[Routes] CHECK CONSTRAINT [FK_Route_Branch]
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD  CONSTRAINT [FK_Routes_Branches] FOREIGN KEY([Branch_ID])
REFERENCES [dbo].[Branches] ([Branch_ID])
GO
ALTER TABLE [dbo].[Routes] CHECK CONSTRAINT [FK_Routes_Branches]
GO
ALTER TABLE [dbo].[Trip]  WITH CHECK ADD  CONSTRAINT [FK_Trip_Branches] FOREIGN KEY([Branch_ID])
REFERENCES [dbo].[Branches] ([Branch_ID])
GO
ALTER TABLE [dbo].[Trip] CHECK CONSTRAINT [FK_Trip_Branches]
GO
ALTER TABLE [dbo].[Trip]  WITH CHECK ADD  CONSTRAINT [FK_Trip_Bus] FOREIGN KEY([Bus_ID])
REFERENCES [dbo].[Bus] ([Bus_ID])
GO
ALTER TABLE [dbo].[Trip] CHECK CONSTRAINT [FK_Trip_Bus]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Employee] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[Employee] ([Employee_ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Employee]
GO
USE [master]
GO
